.animation-text {
  opacity: 0;
  animation: peek 5s;
  color: #364936;
  position: relative;
  z-index: 10;
  left: 2.5vw;
  pointer-events: none;
}

@media (min-width: 0px) {
  .animation-text {
    bottom: -0.75rem;
  }
}
@media (min-width: 1280px) {
  .animation-text {
    bottom: 0;
  }
}
@media (min-width: 1990px) {
  .animation-text {
    bottom: 4rem;
  }
}

@keyframes peek {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }

  75% {
    transform: translateX(100%);
    opacity: 100%;
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
