.animation-text {
  opacity: 0;
  animation: peek 5s;
  color: #364936;
  left: 0;
  position: relative;
  z-index: 10;
  font-weight: 700;
  pointer-events: none;
}

@media (min-width: 0px) {
  .animation-text {
    font-size: 1rem;
    letter-spacing: 3px;
    bottom: -0.75rem;
  }
}
@media (min-width: 768px) {
  .animation-text {
    letter-spacing: 5px;
    font-size: 1.25rem;
  }
}
@media (min-width: 1280px) {
  .animation-text {
    bottom: 0;
  }
}
@media (min-width: 1900px) {
  .animation-text {
    bottom: 4rem;
  }
}

@keyframes peek {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }

  75% {
    transform: translateX(100%);
    opacity: 100%;
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
